$color-body-bg: #f9f7f5;

$primary-color: #d07017;
$primary-color--hover: darken($primary-color, 10%);
$shark-color: #302e53;
$shark-light-color: lighten($shark-color, 10%);
$dark-color: #1e2022;

$color-text: white;
$color-heading-text: $primary-color;

$color-input-border: lighten($color-heading-text, 50%);

$color-button-bg: $primary-color;
$color-button-disabled-bg: darken(desaturate($color-button-bg, 20%), 10%);
