@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$system-default-font-family: 'Roboto Condensed', -apple-system, sans-serif;

$heading-font-family: 'Roboto Condensed';
$heading-font-weight: 800;

$content-font-family: $system-default-font-family;
$content-font-weight: 500;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
  text-transform: uppercase;
  letter-spacing: 1px;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}
